* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 18px;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
}

.nav-left-text ul li a,
.nav-right-text div {
    padding-left: 30px;
    padding-right: 25px;
}

.button-main {
    background-color: rgb(52, 91, 254);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
}

.bg-hero {
    background-color: rgb(180, 206, 230);
    height: 640px;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.hero {
    padding-top: 70px;
    width: 980px;
    position: relative;
}

.h-padding-bottom {
    padding-bottom: 50px;
}

h1 {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.col-left {
    width: 30%;
}

.text-main-padding-bottom {
    padding-bottom: 30px;
}

.text-main-padding-top {
    padding-top: 30px;
}

.col-left i {
    font-size: 35px;
    padding-top: 50px;
}

.col-right {
    width: 70%;
    position: absolute;
    right: 0;
    bottom: -70px;
}

.col-right img {
    width: 100%;
    object-fit: contain;
}

.subscription-box {
    padding-top: 150px;
    height: 800px;
}

h2 {
    font-size: 30px;
}

.input {
    padding-right: 50px;
}

.grid {
    margin-top: 60px;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 50px;
}

.box-grid {
    border: 1px solid rgb(230, 230, 232);
    font-size: 12px;
    width: 250px;
    height: 760px;
}

.title-grid {
    text-align: center;
    border: 1px solid rgb(230, 230, 232);
    padding-top: 7px;
    padding-bottom: 7px;
}

.main-grid {
    padding-left: 20px;
    padding-right: 20px;
}

.bold {
    font-weight: bold;
}

.main-grid div {
    padding-top: 15px;
}

h3 {
    font-size: 20px;
}

.month {
    color: rgb(102, 102, 102);
    padding-bottom: 30px;
}

.main-grid div i {
    padding-right: 5px;
}

.btn-sub-mid {
    text-align: center;
}

.button-sub {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
}

.main-grid div a {
    color: rgb(47, 0, 226);
}

.hr-sub {
    width: 20%;
    border-top: 1px solid rgb(230, 230, 232);
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-info {
    padding-bottom: 20px;
}
.bottom-grid{
    height: 270px;
}