* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    font-size: 18px;
}

.flex {
    display: flex;
}

.align {
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
}

ul a {
    text-decoration: none;
    color: black;
}

.nav-left-text ul li a,
.nav-right-text div {
    padding-left: 30px;
    padding-right: 25px;
}

.button-main {
    background-color: rgb(52, 91, 254);
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 18px;
}

.bg-hero {
    background-color: rgb(180, 206, 230);
    height: 640px;
}

.container {
    margin: 0 auto;
    width: 800px;
}

.container-hero-footer {
    width: 980px;
    margin: 0 auto;
}

.hero {
    padding-top: 70px;
    position: relative;
}

.h-padding-bottom {
    padding-bottom: 50px;
}

h1 {
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.col-left {
    width: 30%;
}

.text-main-padding-bottom {
    padding-bottom: 30px;
}

.text-main-padding-top {
    padding-top: 30px;
}

.col-left i {
    font-size: 35px;
    padding-top: 50px;
}

.col-right {
    width: 70%;
    position: absolute;
    right: 0;
    bottom: -70px;
}

.col-right img {
    width: 100%;
    object-fit: contain;
}

.subscription-box {
    padding-top: 150px;
}

h2 {
    font-size: 30px;
}

.input {
    padding-right: 50px;
}

.grid {
    margin-top: 60px;
    grid-template-columns: auto auto auto;
    display: grid;
    gap: 50px;
}

.box-grid {
    border: 1px solid rgb(230, 230, 232);
    font-size: 12px;
    width: 100%;
    padding-bottom: 30px;
}

.title-grid {
    text-align: center;
    border: 1px solid rgb(230, 230, 232);
    padding-top: 7px;
    padding-bottom: 7px;
}

.main-grid,
.main-bottom-grid {
    padding-left: 20px;
    padding-right: 20px;
}

.bold {
    font-weight: bold;
}

.main-grid div {
    padding-top: 15px;
}

h3 {
    font-size: 20px;
}

.month {
    color: rgb(102, 102, 102);
    padding-bottom: 30px;
}

a {
    color: rgb(62, 31, 239);
}

.main-grid div i {
    padding-right: 5px;
}

.btn-sub-mid {
    text-align: center;
}

.button-sub {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 12px;
    width: 100%;
}

.hr-sub {
    width: 20%;
    border-top: 1px solid rgb(230, 230, 232);
    margin-top: 30px;
    margin-bottom: 10px;
}

.sub-info {
    padding-bottom: 20px;
}

.bottom-grid {
    margin-top: 50px;
    height: 200px;
    position: relative;
}

.space {
    justify-content: space-between;
    align-items: center;
}

.bottom-btn {
    width: 25%;
}

.text-grid-bottom {
    padding-top: 40px;
}

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.left-col-partner {
    width: 65%;
    margin-right: 35px;
}

.left-col-partner img {
    width: 100%;
}

.right-col-partner {
    width: 35%;
}

.btn-partner {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.wrap {
    flex-wrap: wrap;
}

.card {
    width: calc(33% - 30px);
    margin: 15px;
}

.card img {
    width: 100%;
}

.card p {
    font-size: 15px;
}


.brand-left-right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.card-brand {
    width: calc(50% - 100px);
    padding: 100px;
}
.mid-container-brand{
    background-color: rgb(245, 245, 245);
}
.mid-brand-box{
    width: 50%;
}
.hr-brand{
    border-top: 1px solid rgb(208, 208, 211);
}
.designit {
    background-color: rgb(160, 210, 154);
}

.asu {
    background-color: rgb(96, 18, 47);
}

.uf {
    background-color: rgb(42, 144, 204);
}

.topps {
    background-color: rgb(251, 43, 40);
}

.brand-container img {
    width: 100%;
}
.bic{
    background-color: rgb(213, 0, 31);
}
.heart{
    background-color: rgb(180, 208, 231);
}
.planet{
    background-color: rgb(13, 36, 129);
}
.channel{
    background-color: rgb(255, 216, 48);
}
.bg {
    background-color: rgb(180, 206, 230);
}

.h2-text {
    color: rgb(96, 18, 47);
}

.top-align {
    align-items: start;
}

.small {
    font-size: 12px;
    border: none;
}

footer {
    background-color: black;
    color: white;
}

.col-footer {
    width: calc(20% - 30px);
    margin: 15px;
}

.col-footer div {
    padding-bottom: 10px;
}

.hr-footer {
    width: 100px;
    margin-top: 50px;
}

.left-footer-margin {
    margin-left: 15px;
}

.color-footer {
    color: rgb(151, 151, 151);
}

.align-mid {
    vertical-align: middle;
}